Imports sraty pierdaty

In [2]:
import numpy as np
import scipy.stats as stats
import pandas as pd

In [3]:
dataset = pd.read_csv("MY2022 Fuel Consumption Ratings.csv")

print(dataset['CO2 Emissions(g/km)'][1])
print('\n')
print(dataset['CO2 Emissions(g/km)'][10])

263


271

In [4]:
carTypes = dataset['Vehicle Class']
uniqueTypes = pd.DataFrame(carTypes.unique())
uniqueTypes

                          0
0                   Compact
1                SUV: Small
2                  Mid-size
3               Minicompact
4             SUV: Standard
5                Two-seater
6                Subcompact
7      Station wagon: Small
8   Station wagon: Mid-size
9                 Full-size
10      Pickup truck: Small
11   Pickup truck: Standard
12                  Minivan
13  Special purpose vehicle

In [5]:
carTypes = dataset['Cylinders']
uniqueTypes = pd.DataFrame(carTypes.unique())
uniqueTypes

    0
0   4
1   6
2   8
3  12
4  10
5   5
6  16
7   3

In [10]:
carTypes = dataset['Engine Size(L)']
uniqueTypes = pd.DataFrame(carTypes.unique())
uniqueTypes

      0
0   2.4
1   3.5
2   2.0
3   3.0
4   2.9
5   4.0
6   5.2
7   2.5
8   6.0
9   4.4
10  6.6
11  8.0
12  3.6
13  1.4
14  1.2
15  1.3
16  2.7
17  6.2
18  2.8
19  1.5
20  5.3
21  5.7
22  6.4
23  2.3
24  3.3
25  5.0
26  1.8
27  1.6
28  3.8
29  5.6
30  3.2
31  6.5
32  4.6
33  3.4
34  3.7
35  6.7

In [6]:
compacts = dataset[dataset['Vehicle Class']== 'Compact']
suvSmall =  dataset[dataset['Vehicle Class']== 'SUV: Small']
midSize =  dataset[dataset['Vehicle Class']== 'Mid-size']
miniCompact =  dataset[dataset['Vehicle Class']== 'Minicompact']
suvStandard =  dataset[dataset['Vehicle Class']== 'SUV: Standard']
twoSeater =  dataset[dataset['Vehicle Class']== 'Two-seater']
subCompact =  dataset[dataset['Vehicle Class']== 'Subcompact']
stationWagonSmall =  dataset[dataset['Vehicle Class']== 'Station wagon: Small']
stationWagonMid =  dataset[dataset['Vehicle Class']== 'Station wagon: Mid-size']
fullSize =  dataset[dataset['Vehicle Class']== 'Full-size']
pickupSmall =  dataset[dataset['Vehicle Class']== 'Pickup truck: Small']
pickupStandard =  dataset[dataset['Vehicle Class']== 'Pickup truck: Standard']
minivan = dataset[dataset['Vehicle Class']== 'Minivan']
specialPurposeVehicle = dataset[dataset['Vehicle Class']== 'Special purpose vehicle']

compacts -> 0.28 - 0.32<br />
suv small -> 0.34 - 0.4<br />
mid size -> 0.28 - 0.33<br />
minicompact -> 0.3 - 0.35<br />
suv standard -> 0.35 - 0.45<br />
two seater -> 0.3 - 0.35<br />
subcompact -> 0.3 - 0.35<br />
station wagon small -> 0.3 -0.35<br />
station wagon mid size -> 0.32 - 0.36<br />
full size -> 0.28 - 0.35<br />
pickup small -> 0.38 - 0.45<br />
pickup standard -> 0.4 -> 0.5<br />
minivan -> 0.3 - 0.35<br />
special purpose -> 0.33 - 0.37<br />

In [7]:
cx_compacts =(0.28+ 0.32)/2
cx_suv_small =(0.34 + 0.4)/2
cx_mid_size = (0.28 + 0.33)/2
cx_minicompact = (0.3 + 0.35)/2
cx_suv_standard =( 0.35 + 0.45)/2
cx_two_seater = (0.3 + 0.35)/2
cx_subcompact = (0.3 + 0.35)/2
cx_station_wagon_small = (0.3 + 0.35)/2
cx_station_wagon_mid_size = (0.32 + 0.36)/2
cx_full_size = (0.28 + 0.35)/2
cx_pickup_small = (0.38 + 0.45)/2
cx_pickup_standard = (0.4 + 0.5)/2
cx_minivan = (0.3 + 0.35)/2
cx_special_purpose = (0.33 + 0.37)/2

In [8]:
mapping = {
    'Compact': cx_compacts,
    'SUV: Small': cx_suv_small,
    'Mid-size': cx_mid_size,
    'Minicompact': cx_minicompact,
    'SUV: Standard': cx_suv_standard,
    'Two-seater': cx_two_seater,
    'Subcompact': cx_subcompact,
    'Station wagon: Small': cx_station_wagon_small,
    'Station wagon: Mid-size': cx_station_wagon_mid_size,
    'Full-size': cx_full_size,
    'Pickup truck: Small': cx_pickup_small,
    'Pickup truck: Standard': cx_pickup_standard,
    'Minivan': cx_minivan,
    'Special purpose vehicle': cx_special_purpose
}

In [9]:
dataset['Drag coefficient'] = dataset['Vehicle Class'].map(mapping).fillna(dataset['Vehicle Class'])
dataset = pd.read_csv("processed_dataset.csv")
dataset.drop(columns=["Unnamed: 0","Model Year",'Transmission',"Fuel Type","Fuel Consumption (City (L/100 km)","Fuel Consumption(Comb (L/100 km))","Fuel Consumption(Comb (mpg))","CO2 Emissions(g/km)","CO2 Rating","Smog Rating","Vehicle Class"], inplace=True)

KeyError: "['Model Year', 'Transmission', 'Fuel Type', 'Fuel Consumption (City (L/100 km)', 'Fuel Consumption(Comb (L/100 km))', 'Fuel Consumption(Comb (mpg))', 'CO2 Emissions(g/km)', 'CO2 Rating', 'Smog Rating', 'Vehicle Class'] not found in axis"

In [ ]:
dataset.to_csv('processed_dataset.csv')